# Python Basics
### print function

In [1]:
print("Hello World!")

Hello World!

### variables

In [2]:
# strings - Greeting
message_string = "Hello there"
print(message_string)

# Strings - Farewell
message_string = "Hasta la vista"
print(message_string)

# int & float
an_int = 2
a_float = 2.1

print(an_int + 3)

Hello there
Hasta la vista
5

### calculations

In [3]:
print(3 + 4) # Addition
print(5 - 5) # Subtraction
print(3 * 5) # Multiplication
print(12 / 4) # Division
print(3 ** 3) # Exponentiation
print(15 % 2) # Modulus
print(15 // 3) # Floor division

7
0
15
3.0
27
1
5

In [4]:
a = 5
b = 10
print(a + b)

15

### concatination

In [5]:
# process of combining strings called concatination
greeting_text = "Hey there!"
question_text = "How are you doing?"
full_text = greeting_text + question_text

print(full_text)

full_text = greeting_text + " " + question_text

# Prints "Hey there! How are you doing?"
print(full_text)

Hey there!How are you doing?
Hey there! How are you doing?

In [6]:
birthday_string = "I am "
age = 10
birthday_string_2 = " years old today!"

# Concatenating an integer with strings is possible if we turn the integer into a string first
full_birthday_string = birthday_string + str(age) + birthday_string_2
print(full_birthday_string)

# If we just want to print an integer we can pass a variable as an argument to print() regardless of whether it is a string.
print(birthday_string, age, birthday_string_2)

I am 10 years old today!
I am  10  years old today!

### updating variables

In [7]:
# First we have a variable with a number saved
number_of_miles_hiked = 12

# Then we need to update that variable Let's say we hike another two miles today
number_of_miles_hiked += 2

# The new value is the old value Plus the number after the plus-equals
print(number_of_miles_hiked)

14

In [8]:
hike_caption = "What an amazing time to walk through nature!"

# Almost forgot the hashtags!
hike_caption += " #nofilter"
hike_caption += " #blessed"

print(hike_caption)

What an amazing time to walk through nature! #nofilter #blessed

### multiline strings

In [9]:
# By using three quote-marks (""" or ''') instead of one, we tell the program that the string doesn’t end until the next triple-quote. 
# This method is useful if the string being defined contains a lot of quotation marks and we want to be sure we don’t close it prematurely.

leaves_of_grass = """
Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.
"""

print(leaves_of_grass)

Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.

## control flow
### if statement

In [10]:
# Enter a user name here, make sure to make it a string
user_name = "angela_catlady_87"

if user_name == "Dave":
  print("Get off my computer Dave!")
if user_name == "angela_catlady_87":
  print("I know it is you, Dave! Go away!")

I know it is you, Dave! Go away!

In [11]:
# and logical operator
credits = 120
gpa = 3.4

if credits >= 120 and gpa >=2.0:
  print("You meet the requirements to graduate!")

You meet the requirements to graduate!

In [12]:
# or logical operator
credits = 118
gpa = 2.0

if credits >= 120 or gpa >= 2.0:
  print("You have met at least one of the requirements.")

You have met at least one of the requirements.

In [13]:
# not logical operator
credits = 120
gpa = 1.8

if not credits >= 120:
  print("You do not have enough credits to graduate")
elif (not gpa >= 2.0):
  print("Your GPA is not high enough to graduate.")
else:
  print("You do not meet either requirement to graduate!")

Your GPA is not high enough to graduate.

## Loops
### for loops

In [14]:
# With for loops, on each iteration, we will be able to perform an action on each element of the collection.
# If we ever forget to indent, we’ll get an IndentationError or unexpected behavior.


ingredients = ["milk", "sugar", "vanilla extract", "dough", "chocolate"]

for ingredient in ingredients:
  print(ingredient)

milk
sugar
vanilla extract
dough
chocolate

In [15]:
# elegent way to write for loops
for ingredient in ingredients: print(ingredient)

milk
sugar
vanilla extract
dough
chocolate

In [16]:
# if we want to repeat for certain amount of time we use for loop using range function
# for <temporary variable> in <list of length n>:
#   action

for temp in range(6):
    print("Learning Loops!")
    
for temp in range(6):
  print("Loop is on iteration number " + str(temp + 1))

Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!
Learning Loops!
Loop is on iteration number 1
Loop is on iteration number 2
Loop is on iteration number 3
Loop is on iteration number 4
Loop is on iteration number 5
Loop is on iteration number 6

### while loops

In [17]:
# while loops are form of indefinite iteration. A while loop performs a set of instructions as long as a given condition is true.
count = 0
while count <= 3:
  # Loop Body
  print(count)
  count += 1

0
1
2
3

In [18]:
# elegent way of writing while loop
count = 0
while count <= 3: print(count); count += 1

0
1
2
3

In [19]:
countdown = 10
while countdown >= 0:
  print(countdown)
  countdown -= 1
print("we have liftoff!")

10
9
8
7
6
5
4
3
2
1
0
we have liftoff!

In [20]:
# while loops with list - first we need to fine the list length and compare
length = len(ingredients)
index = 0

while index < length:
  print(ingredients[index])
  index += 1

milk
sugar
vanilla extract
dough
chocolate

### infinite loops

In [21]:
# A loop that never terminates is called an infinite loop. 
# my_favorite_numbers = [4, 8, 15, 16, 42]

# for number in my_favorite_numbers:
#   my_favorite_numbers.append(1)

# if we encounter infinite loop, we can terminate with control + c

### loop conotrol: Break

In [22]:
items_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]
for item in items_on_sale:
    if item == "knit dress":
        print("Found it")
# this loop will continue even after it prints the statement, if we have many elements this is waste of time and memory

Found it

In [23]:
# better way to write above loop
items_on_sale = ["blue shirt", "striped socks", "knit dress", "red headband", "dinosaur onesie"]

print("Checking the sale list!")

for item in items_on_sale:
  print(item)
  if item == "knit dress":
    break

print("End of search!")

Checking the sale list!
blue shirt
striped socks
knit dress
End of search!

### loop control: Continue

In [24]:
# continue will be used to skip current iteration of the loop
big_number_list = [1, 2, -1, 4, -5, 5, 2, -9]

for i in big_number_list:
  if i <= 0:
    continue
  print(i)

1
2
4
5
2

### nested loops

In [25]:
project_teams = [["Ava", "Samantha", "James"], ["Lucille", "Zed"], ["Edgar", "Gabriel"]]
for team in project_teams:
  print(team)

['Ava', 'Samantha', 'James']
['Lucille', 'Zed']
['Edgar', 'Gabriel']

In [26]:
# Loop through each sublist
for team in project_teams:
  # Loop elements in each sublist
  for student in team:
    print(student)

Ava
Samantha
James
Lucille
Zed
Edgar
Gabriel

## tuples

In [27]:
# you can store different data types and they are ordered but immutable (can not be changed)
my_info = ("Salar", 30, "programmer")
print(my_info[0])
print(my_info[1])

Salar
30

### tuple unpacking

In [28]:
name, age, occupation = my_info
print(name)
print(occupation)

Salar
programmer

In [29]:
# if we want to create one element tuple
one_element_tuple = (4,)
one_element_tuple

(4,)

## lists

In [30]:
# lists can contain any data type
mixed_list_common = ["Mia", 27, False, 0.5]

# empty list
empty_list = []

In [31]:
# House Areas
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# creating list of areas
areas = ["hallway", hall,
         "kitchen", kit,
         "living room", liv,
         "bedroom", bed,
         "bathroom", bath]

print(areas)

# creating list of list
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

print(house)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

### list methods

In [32]:
# .append()

example_list = [1, 2, 3, 4]

example_list.append(5)
print(example_list)

[1, 2, 3, 4, 5]

In [33]:
# .remove()

# if the element we want to remove has duplicates, remove method only removes the first instance.
# if we try to remove element that does not exist we get index error or Value error
example_list.remove(5)
print(example_list)

[1, 2, 3, 4]

In [34]:
# append only adds one items at a time, if want to add multiple items we can use + (concatenation)
items_sold = ["cake", "cookie", "bread"]

# we want to add "buscuit" and "tart" to the list
items_sold_new = items_sold + ["buscuit", "tart"]
print(items_sold_new)

['cake', 'cookie', 'bread', 'buscuit', 'tart']

In [35]:
# .insert() method

store_line = ["Karla", "Maxium", "Martim", "Isabella"]

store_line.insert(2, "Vikor")
print(store_line)

['Karla', 'Maxium', 'Vikor', 'Martim', 'Isabella']

In [36]:
# .pop() removing by index
# Passing in an index that does not exist or calling .pop() on an empty list will both result in an IndexError.

cs_topics = ["Python", "Data Structures", "Balloon Making", "Algorithms", "Clowns 101"]

removed_element = cs_topics.pop()
print(cs_topics)
print(removed_element)

cs_topics.pop(2)
print(cs_topics)

['Python', 'Data Structures', 'Balloon Making', 'Algorithms']
Clowns 101
['Python', 'Data Structures', 'Algorithms']

In [37]:
# range function / list function

# this below creats range object
my_range = range(10)
print(type(my_range))

# to turn this object to list, we use list funtion
print(list(my_range))

# if we enter one number to range function, the range starts at zero, if we want to start on number other that zero, we need to enter 2 numbers
my_list = range(2, 9)
print(list(my_list))

# if we enter 3 numbers in range function, we can create list that skips numbers
my_range2 = range(2, 9, 2)
print(list(my_range2))

my_range3 = range(1, 100, 10)
print(list(my_range3))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8]
[2, 4, 6, 8]
[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

In [38]:
# len() function

my_list = [1, 2, 3, 4, 5]

print(len(my_list))

5

In [39]:
# .count() method to count occurances of an item on the list
letters = ["m", "i", "s", "s", "i", "s", "s", "i", "p", "p", "i"]
num_i = letters.count("i")
print(num_i)

4

In [40]:
# .sort() method for sorting list
names = ["Xander", "Buffy", "Angel", "Willow", "Giles"]

names.sort()
print(names)

names.sort(reverse=True)
print(names)

['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']
['Xander', 'Willow', 'Giles', 'Buffy', 'Angel']

In [41]:
# sorted() function
# difference between .sort() method and sorted function is the method modifies the list but the function generates new list
names = ["Xander", "Buffy", "Angel", "Willow", "Giles"]

sorted_names = sorted(names)
print(sorted_names)
print(names)

['Angel', 'Buffy', 'Giles', 'Willow', 'Xander']
['Xander', 'Buffy', 'Angel', 'Willow', 'Giles']

### accessing list elements

In [42]:
# python list start at index zero
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

employee_four = employees[3]
print(employee_four)

# print(employees[8])
# we get index error because index 8 does not exist

Pam

In [43]:
# negative index
shopping_list = ["eggs", "butter", "milk", "cucumbers", "juice", "cereal"]

last_element = shopping_list[-1]
index5_element = shopping_list[5]

print(last_element)
print(index5_element)

cereal
cereal

In [44]:
# list slicing list[start: end] - end is the index we want + 1

letters = ["a", "b", "c", "d", "e", "f", "g"]
# we want letter b to f
sliced_list = letters[1:6]
print(sliced_list)

['b', 'c', 'd', 'e', 'f']

In [45]:
# slicing for first n elements list[:n]
fruits = ["apple", "cherry", "pineapple", "orange", "mango"]
print(fruits[:3])

# accessing last n element list[-n:]
print(fruits[-2:])

['apple', 'cherry', 'pineapple']
['orange', 'mango']

### modifying elements

In [46]:
# replacing cauliflower with straberries
garden = ["Tomatoes", "Green Beans", "Cauliflower", "Grapes"]

garden[2] = "Strawberries"
print(garden)

['Tomatoes', 'Green Beans', 'Strawberries', 'Grapes']

### 2D lists

In [47]:
# lists can contain other list as elements, we call these 2D list
heights = [["Noelle", 61], ["Ava", 70], ["Sam", 67], ["Mia", 64]]
print(heights)

[['Noelle', 61], ['Ava', 70], ['Sam', 67], ['Mia', 64]]

In [48]:
# accessing 2D list
noelles_height = heights[0][1]
print(noelles_height)

61

In [49]:
# modifying 2D list
class_name_hobbies = [["Jenny", "Breakdancing"], ["Alexus", "Photography"], ["Grace", "Soccer"]]

# change Jenny's hobby to meditation
class_name_hobbies[0][1] = "Meditation"
print(class_name_hobbies)

[['Jenny', 'Meditation'], ['Alexus', 'Photography'], ['Grace', 'Soccer']]

In [50]:
# .count() with 2D list
number_collection = [[100, 200], [100, 200], [475, 29], [34, 34]]
num_pairs = number_collection.count([100, 200])
print(num_pairs)

2

### list unpacking

In [51]:
numbers = [1, 2, 3]
first, second, third = numbers # first = 1, second = 2, third = 3
print(first)
print(second)
print(third)

1
2
3

In [52]:
numbers = [1, 2, 3, 4, 5, 6]
first_1, second_2, *others = numbers
print(first_1)
print(second_2)
print(others)

1
2
[3, 4, 5, 6]

### combining lists: zip function

In [53]:
# allows to combine list
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 64]

# we want to create a nested list that combines each name with a height
names_and_heights = zip(names, heights)
print(names_and_heights)
converted_list = list(names_and_heights)
print(converted_list)

# when using zip function, the inner elements does not use [] because they are converted to tuples.

<zip object at 0x110d35400>
[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 64)]

### list comprehension

In [54]:
# list comprehension syntax
# new_list = [<expression> for <element> in <collection>]
numbers = [2, -1, 79, 33, -45]
doubled = []

for number in numbers:
  doubled.append(number * 2)

print(doubled)

[4, -2, 158, 66, -90]

In [55]:
# same output via list comprehension
numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 for num in numbers]
print(doubled)

[4, -2, 158, 66, -90]

In [56]:
# list comprehension with conditionals
# if we want to double only negative numbers in numbers list

numbers = [2, -1, 79, 33, -45]
only_negative_doubled = []

for num in numbers:
  if num < 0: 
    only_negative_doubled.append(num * 2)

print(only_negative_doubled)

[-2, -90]

In [57]:
# same output via list comprehension
numbers = [2, -1, 79, 33, -45]
negative_doubled = [num * 2 for num in numbers if num < 0]
print(negative_doubled)

[-2, -90]

In [58]:
# list comprehension with if else statement
numbers = [2, -1, 79, 33, -45]
doubled = [num * 2 if num < 0 else num * 3 for num in numbers ]
print(doubled)

[6, -2, 237, 99, -90]

## functions

In [73]:
# python has built in functions and user defined functions

# some builtin functions are:
# print
# srt()
# len()
# help()
# min() and max()
# round()
# return

In [74]:
# round function 
tshirt_price = 9.75

rounded_price = round(tshirt_price, 1)
print(rounded_price)

9.8

### defining function

In [60]:
# to define a function
def trip_welcome():
  print("Welcome to Tripcademy!") 
  print("Let's get you to your destination.")
    
# to call a function
trip_welcome()

Welcome to Tripcademy!
Let's get you to your destination.

In [62]:
# defining function with one parameter
def trip_welcome(destination):
  print("Welcome to Tripcademy!") 
  print("Looks like you're going to " + destination + " today.")
    
trip_welcome("Denver")

Welcome to Tripcademy!
Looks like you're going to Denver today.

In [63]:
# defining function with multiple parameters
def trip_welcome(origin, destination):
  print("Welcome to Tripcademy")
  print("Looks like you are traveling from " + origin)
  print("And you are heading to " + destination)

trip_welcome("Prospect Park", "Atlantic Terminal")

Welcome to Tripcademy
Looks like you are traveling from Prospect Park
And you are heading to Atlantic Terminal

In [66]:
# function with keyword arguments
def calculate_taxi_price(miles_to_travel, rate, discount):
  print(miles_to_travel * rate - discount )

calculate_taxi_price(rate=0.5, discount=10, miles_to_travel=100)

40.0

In [69]:
# funtion with default values
def calculate_taxi_price(miles_to_travel, rate, discount = 10):
  print(miles_to_travel * rate - discount )


# Using the default value of 10 for discount.
calculate_taxi_price(10, 0.5)

# Overwriting the default value of 10 with 20
calculate_taxi_price(10, 0.5, 20)

-5.0
-15.0

### return

In [76]:
# return - Functions can also return a value to the program so that this value can be modified or used later.
def calculate_exchange_usd(us_dollars, exchange_rate):
  return us_dollars * exchange_rate

new_zealand_exchange = calculate_exchange_usd(100, 1.4)

print("100 dollars in US currency would give you " + str(new_zealand_exchange) + " New Zealand dollars")

100 dollars in US currency would give you 140.0 New Zealand dollars

In [ ]:
# multiple returns - We can return several values by separating them with a comma.