# Python Basics
### print function

In [1]:
print("Hello World!")

Hello World!

### variables

In [2]:
# strings - Greeting
message_string = "Hello there"
print(message_string)

# Strings - Farewell
message_string = "Hasta la vista"
print(message_string)

# int & float
an_int = 2
a_float = 2.1

print(an_int + 3)

Hello there
Hasta la vista
5

### calculations

In [3]:
print(3 + 4) # Addition
print(5 - 5) # Subtraction
print(3 * 5) # Multiplication
print(12 / 4) # Division
print(3 ** 3) # Exponentiation
print(15 % 2) # Modulus
print(15 // 3) # Floor division

7
0
15
3.0
27
1
5

In [4]:
a = 5
b = 10
print(a + b)

15

### concatination

In [5]:
# process of combining strings called concatination
greeting_text = "Hey there!"
question_text = "How are you doing?"
full_text = greeting_text + question_text

print(full_text)

full_text = greeting_text + " " + question_text

# Prints "Hey there! How are you doing?"
print(full_text)

Hey there!How are you doing?
Hey there! How are you doing?

In [6]:
birthday_string = "I am "
age = 10
birthday_string_2 = " years old today!"

# Concatenating an integer with strings is possible if we turn the integer into a string first
full_birthday_string = birthday_string + str(age) + birthday_string_2
print(full_birthday_string)

# If we just want to print an integer we can pass a variable as an argument to print() regardless of whether it is a string.
print(birthday_string, age, birthday_string_2)

I am 10 years old today!
I am  10  years old today!

### updating variables

In [7]:
# First we have a variable with a number saved
number_of_miles_hiked = 12

# Then we need to update that variable Let's say we hike another two miles today
number_of_miles_hiked += 2

# The new value is the old value Plus the number after the plus-equals
print(number_of_miles_hiked)

14

In [8]:
hike_caption = "What an amazing time to walk through nature!"

# Almost forgot the hashtags!
hike_caption += " #nofilter"
hike_caption += " #blessed"

print(hike_caption)

What an amazing time to walk through nature! #nofilter #blessed

### multiline strings

In [9]:
# By using three quote-marks (""" or ''') instead of one, we tell the program that the string doesn’t end until the next triple-quote. 
# This method is useful if the string being defined contains a lot of quotation marks and we want to be sure we don’t close it prematurely.

leaves_of_grass = """
Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.
"""

print(leaves_of_grass)

Poets to come! orators, singers, musicians to come!
Not to-day is to justify me and answer what I am for,
But you, a new brood, native, athletic, continental, greater than
  before known,
Arouse! for you must justify me.

## control flow
### if statement

In [10]:
# Enter a user name here, make sure to make it a string
user_name = "angela_catlady_87"

if user_name == "Dave":
  print("Get off my computer Dave!")
if user_name == "angela_catlady_87":
  print("I know it is you, Dave! Go away!")

I know it is you, Dave! Go away!

In [11]:
# and logical operator
credits = 120
gpa = 3.4

if credits >= 120 and gpa >=2.0:
  print("You meet the requirements to graduate!")

You meet the requirements to graduate!

In [12]:
# or logical operator
credits = 118
gpa = 2.0

if credits >= 120 or gpa >= 2.0:
  print("You have met at least one of the requirements.")

You have met at least one of the requirements.

In [13]:
# not logical operator
credits = 120
gpa = 1.8

if not credits >= 120:
  print("You do not have enough credits to graduate")
elif (not gpa >= 2.0):
  print("Your GPA is not high enough to graduate.")
else:
  print("You do not meet either requirement to graduate!")

Your GPA is not high enough to graduate.

## lists

In [14]:
# lists can contain any data type
mixed_list_common = ["Mia", 27, False, 0.5]

# empty list
empty_list = []

In [17]:
# House Areas
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# creating list of areas
areas = ["hallway", hall,
         "kitchen", kit,
         "living room", liv,
         "bedroom", bed,
         "bathroom", bath]

print(areas)

# creating list of list
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]]

print(house)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]

### list methods and builtin functions

In [15]:
# .append()

example_list = [1, 2, 3, 4]

example_list.append(5)
print(example_list)

[1, 2, 3, 4, 5]

In [16]:
# .remove()

# if the element we want to remove has duplicates, remove method only removes the first instance.
# if we try to remove element that does not exist we get index error or Value error
example_list.remove(5)
print(example_list)

[1, 2, 3, 4]

In [ ]:
# append only adds one items at a time, if want to add multiple items we can use + (concatenation)
items_sold = ["cake", "cookie", "bread"]

# we want to add "buscuit" and "tart" to the list
items_sold_new = items_sold + ["buscuit", "tart"]
print(items_sold_new)

In [ ]:
# .insert() method

store_line = ["Karla", "Maxium", "Martim", "Isabella"]

store_line.insert(2, "Vikor")
print(store_line)

In [ ]:
# .pop() removing by index
# Passing in an index that does not exist or calling .pop() on an empty list will both result in an IndexError.

cs_topics = ["Python", "Data Structures", "Balloon Making", "Algorithms", "Clowns 101"]

removed_element = cs_topics.pop()
print(cs_topics)
print(removed_element)

cs_topics.pop(2)
print(cs_topics)

In [ ]:
# range function / list function

# this below creats range object
my_range = range(10)
print(type(my_range))

# to turn this object to list, we use list funtion
print(list(my_range))

# if we enter one number to range function, the range starts at zero, if we want to start on number other that zero, we need to enter 2 numbers
my_list = range(2, 9)
print(list(my_list))

# if we enter 3 numbers in range function, we can create list that skips numbers
my_range2 = range(2, 9, 2)
print(list(my_range2))

my_range3 = range(1, 100, 10)
print(list(my_range3))

### accessing list elements

In [21]:
# python list start at index zero
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

employee_four = employees[3]
print(employee_four)

# print(employees[8])
# we get index error because index 8 does not exist

Pam

In [22]:
# negative index
shopping_list = ["eggs", "butter", "milk", "cucumbers", "juice", "cereal"]

last_element = shopping_list[-1]
index5_element = shopping_list[5]

print(last_element)
print(index5_element)

cereal
cereal

### modifying elements

In [24]:
# replacing cauliflower with straberries
garden = ["Tomatoes", "Green Beans", "Cauliflower", "Grapes"]

garden[2] = "Strawberries"
print(garden)

['Tomatoes', 'Green Beans', 'Strawberries', 'Grapes']

### 2D lists

In [25]:
# lists can contain other list as elements, we call these 2D list
heights = [["Noelle", 61], ["Ava", 70], ["Sam", 67], ["Mia", 64]]
print(heights)

[['Noelle', 61], ['Ava', 70], ['Sam', 67], ['Mia', 64]]

In [27]:
# accessing 2D list
noelles_height = heights[0][1]
print(noelles_height)

61

In [28]:
# modifying 2D list
class_name_hobbies = [["Jenny", "Breakdancing"], ["Alexus", "Photography"], ["Grace", "Soccer"]]

# change Jenny's hobby to meditation
class_name_hobbies[0][1] = "Meditation"
print(class_name_hobbies)

[['Jenny', 'Meditation'], ['Alexus', 'Photography'], ['Grace', 'Soccer']]